---
title: Home
layout: default
current: home
class: "home-template"
navigation: True
---

<script
  id="Cookiebot"
  src="https://consent.cookiebot.com/uc.js"
  data-cbid="5d15b64b-21d9-492e-811c-bfb9be0185c8"
  data-blockingmode="auto"
  type="text/javascript"
></script>

<header
  class="site-header outer {% if page.cover or site.cover %}"
  style="background-image:  url({{ site.baseurl }}{% if page.cover %}{{ page.cover }}{% elsif site.cover %}{{ site.cover }}{% endif %}) {% else %}no-cover{% endif %}"
>
  <div class="inner">
    <div class="site-header-content">
      <h1 class="site-title">
        {% if site.logo %}
        <img
          class="site-logo"
          src="{{ site.baseurl }}{{ site.logo }}"
          alt="{{ site.title }}"
        />
        {% else %} {{ site.title }} {% endif %}
      </h1>
      <h2 class="site-description">
        {% if page.description %}{{ page.description }}{% else %}{{
        site.description }}{% endif %}
      </h2>
    </div>
    {% include site-nav.html %}
  </div>
</header>

<!-- The main content area -->
<main id="site-main" class="site-main outer" role="main">
  <div class="inner">
    <div class="post-feed">
      <!-- The tag below includes the markup for each post - partials/post-card.hbs -->
      {% include post-card.html %}
    </div>
  </div>
</main>
